@model IEnumerable<Domain.Entities.App>

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
            <div class="demo-cards mdl-cell mdl-cell--12-col mdl-grid">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--6-col-desktop">
                    <div class="mdl-card__title" style="background: url('images/AppGoogle.png') bottom right 5% no-repeat #46B6AC; background-size: 62px 62px">
                        <h2 class="mdl-card__title-text">Google Play</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Collect indicators of a mobile application by the Google Play.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" style="float: left">
                            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                                <i class="material-icons">search</i>
                            </label>
                            <div class="mdl-textfield__expandable-holder" style="width: 300px;">

                                <input class="mdl-textfield__input" type="text" id="search" placeholder="Search" onkeyup="onSearch('g');" />
                                <label class="mdl-textfield__label" for="search">query here...</label>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--6-col-desktop">
                    <div class="mdl-card__title" style="background: url('images/AppApple.png') bottom right 5% no-repeat #46B6AC; background-size: 62px 62px">
                        <h2 class="mdl-card__title-text">Apple Store</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Collect indicators of a mobile application by the Apple Store.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" style="float: left">
                            <label class="mdl-button mdl-js-button mdl-button--icon" for="search2">
                                <i class="material-icons">search</i>
                            </label>
                            <div class="mdl-textfield__expandable-holder" style="width: 300px;">

                                <input class="mdl-textfield__input" type="text" id="search2" placeholder="Search" onsubmit="onSearch('g');" />
                                <label class="mdl-textfield__label" for="search2">query here...</label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />

                <div class="demo-cards mdl-cell mdl-cell--12-col mdl-grid">
                    <ul class="mdl-list mdl-cell mdl-cell--12-col">
                        @{
                            if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <li class="mdl-list__item mdl-list__item--three-line demo-card-wide mdl-card mdl-shadow--2dp mdl-color--white mdl-cell--12-col listagem"
                                        style=" padding-top: 0px; margin-bottom: 5px; margin-top: 5px; padding-bottom: 0px;"
                                        onclick="location.href = '?p=@ViewBag.p&q=@Html.DisplayFor(modelItem => item.Package)&c=us';">
                                        <label class="mdl-list__item-primary-content">
                                            <img src="@Html.DisplayFor(modelItem => item.Icon)" style="width: 35px;height: 35px;" />
                                            <label>@Html.DisplayFor(modelItem => item.Name)</label>
                                            <label class="mdl-list__item-text-body">
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </label>
                                        </label>
                                        <label class="mdl-list__item-secondary-content" style="color: #37474f;">
                                            @Html.DisplayFor(modelItem => item.Rating)<i class="material-icons">star</i>
                                        </label>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            <br />
            <br />
        </div>
    </main>

</main>

<script>

    function onSearch(id, p) {
        var element = document.getElementById(id);
        location.href = '?p='+p+'&q=' + element.value + '&c=us';
    }

    document.getElementById("search")
        .addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                onSearch('search','g');
            }
        });


    document.getElementById("search2")
        .addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                onSearch('search2','a');
            }
        });

</script>